.flightCard {
  font-size: 20px;
  height: 150px;
  width: 100%;
  background: aquamarine;
  border: 3px solid gray;
  border-bottom: 1px solid gold;
}
.list {
  height: 100vh;
  width: 100vw;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}